@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

    overflow-x: hidden;
}

.main{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.cardboard-box{
    width: 350px;
    height: 530px;

    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 2px 2px 8px #000;
}

.cardboard-box .cardboard-box__header{
    height: 25%;
    background-color: #FBDB09;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.cardboard-box .cardboard-box__header img{
    position: absolute;
    top: -110px;
    left: 92px;
    width: 350px;
}

.cardboard-box .cardboard-box__body{
    height: 75%;
    padding: 1rem;
}

.cardboard-box .cardboard-box__body .cardboard-box__body__title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.cardboard-box .cardboard-box__body .cardboard-box__body__description{
    font-size: 14px;
    text-align: justify;
    font-weight: 300;
    margin: 10px 0;
}

hr{
    width: 90%;
    opacity: .5;
    margin: 0 auto;
    background-color: #092558;
}

.cardboard-box .cardboard-box__body .cardboard-box__body__options{
    margin-top: 5px;
    position: relative;
}

.cardboard-box .cardboard-box__body .field{ margin-top: 10px; }

.cardboard-box .cardboard-box__body .field small{ margin-top: 10px; color: red; font-size: 12px; text-align: center;}

.cardboard-box .cardboard-box__body .cardboard-box__body__options .field h3{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.cardboard-box .cardboard-box__body .cardboard-box__body__options .field__options{
    display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly;
    align-items: center;
}

.field__options input{
    max-width: 80px;
    border: solid 1px #092558;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

.field__options--file{
    display: flex;
    flex-flow: row wrap;
}

.field__options input::placeholder{ padding: 5px; }
.field__options input:focus{ outline: none; }

a#reset{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

a#reset, button{
    color: #092558;
    background-color: #FBDB09;
    padding: 5px;
    font-size: 12px;
    float: right;
    border-radius: 5px;
    border: none;
}

a#reset:hover, button:hover{
    color: #FBDB09;
    background-color: #092558;
    cursor: pointer;

    transition: all .3s ease-in;
}

.field small#error-file{
    display: none;
    color: red;
    font-size: 12px;
    text-align: center;
}

.three-js{
    background-color: transparent;
    width: 500px;
    height: 500px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    .main{
        height: 100%;
        width: 100%;
        margin-top: 10rem;
        gap: 2rem;
    }
    .cardboard-box {
        height: 600px;
    }

    .cardboard-box .cardboard-box__header img{
        position: absolute;
        top: -120px;
        left: 40px;
        width: 300px;
    }

    .field h3{
        text-align: center;
    }

    .field__options input{
        max-width: 100%;
        margin-bottom: 10px;
    }

    input, img{
        margin: auto; display: block;
    }

    .field{
        text-align: center;
    }

    .field__options--file{
        display: block;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .main{
        height: 100%;
        margin-top: 10rem;
        gap: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .main{
        height: 100%;
        margin-top: 10rem;
        gap: 2rem;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
}